<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>任务信息详情页</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <!-- 样式 -->
    <link rel="stylesheet" href="../../css/style.css"/>
    <!-- 主题（主要颜色设置） -->
    <link rel="stylesheet" href="../../css/theme.css"/>
    <!-- 通用的css -->
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../xznstatic/css/bootstrap.min.css">
</head>
<style>
    .particulars {
        width: 90%;
        background-color: #fff;
        border-bottom: 1px dotted var(--publicMainColor);
        padding: 10px 0;
    }

    .dataExhibition {
        display: inline-block;
        width: 60%;
    }

    .displayBianhao {
        display: inline-block;
        width: auto;
    }

    .detail-tab .layui-tab-card>.layui-tab-title .layui-this{
        border: 2px dotted var(--publicMainColor);
        background-color: #fff;
        color: #000;
    }</style>
<body>

    <div id="app">
<div style="width: 1000px;margin: 10px auto;height: auto;">
    <div style="border: 1px  dotted var(--publicMainColor);border-radius: 15px;margin-top:25px;height: 50px;line-height: 50px;padding-left: 15px;display: flex;justify-content: space-between;align-items: center;padding-right: 15px;">
        <span>
            <a style="color: #000;" href="../home/home.html">
                首页
            </a>/
            <a>
                <cite style="color: #815476;">
                    {{title}}
                </cite>
            </a>
        </span>
    </div>
    <div style="display: flex;margin-top: 20px;">
        <!-- 详情介绍 -->
        <div style="width: 50%;height: auto;">
            <div class="particulars" style="text-align: center;font-size: 18px;">
                <span>{{title}}</span>
            </div>
                  <div v-if="detail.renwuZhiwei" class="particulars">
                      <span class="displayBianhao">职位:</span>
                      <span class="dataExhibition"> {{detail.renwuZhiwei}} </span>
                  </div>
                  <div v-if="detail.renwuBaocou" class="particulars">
                      <span class="displayBianhao">报酬:</span>
                      <span class="dataExhibition"> {{detail.renwuBaocou}} </span>
                  </div>
                  <div v-if="detail.renwuShijian" class="particulars">
                      <span class="displayBianhao">工作时间:</span>
                      <span class="dataExhibition"> {{detail.renwuShijian}} </span>
                  </div>
                  <div v-if="detail.renwuTime" class="particulars">
                      <span class="displayBianhao">起止时间:</span>
                      <span class="dataExhibition"> {{detail.renwuTime}} </span>
                  </div>
                  <div v-if="detail.renwuAddress" class="particulars">
                      <span class="displayBianhao">工作地点:</span>
                      <span class="dataExhibition"> {{detail.renwuAddress}} </span>
                  </div>
                  <div v-if="detail.renwuFuzhenr" class="particulars">
                      <span class="displayBianhao">负责人:</span>
                      <span class="dataExhibition"> {{detail.renwuFuzhenr}} </span>
                  </div>
                  <div v-if="detail.renwuPhone" class="particulars">
                      <span class="displayBianhao">联系方式:</span>
                      <span class="dataExhibition"> {{detail.renwuPhone}} </span>
                  </div>
                  <div v-if="detail.renwuBaoming" class="particulars">
                      <span class="displayBianhao">报名信息:</span>
                      <span class="dataExhibition"> {{detail.renwuBaoming}} </span>
                  </div>
                  <div v-if="detail.renwuTypes" class="particulars">
                      <span class="displayBianhao">任务类型:</span>
                      <span class="dataExhibition"> {{detail.renwuValue}} </span>
                  </div>
                  <div v-if="detail.jieshuTime" class="particulars">
                      <span class="displayBianhao">结束时间:</span>
                      <span class="dataExhibition"> {{detail.jieshuTime}} </span>
                  </div>
                  <div v-if="detail.zhugtaiTypes" class="particulars">
                      <span class="displayBianhao">任务状态:</span>
                      <span class="dataExhibition"> {{detail.zhugtaiValue}} </span>
                  </div>
        </div>
        <!-- 图片 -->
        <div style="width: 50%;height: auto;">
            <div>
                <div v-if="swiperList.length" v-for="(item,index) in swiperList" :key="index">
                    <img style="width: 100%;height: 100%;object-fit:cover;" :src="baseUrl+item" />
                </div>
            </div>
        </div>
    </div>
    <!-- 按钮 -->
    <div style="width: 100%;" v-if="detail.zhugtaiTypes == 1">
        <div  style="display: flex;margin-top: 30px;justify-content: center;border-bottom:1px dotted var(--publicMainColor) ;border-top:1px dotted var(--publicMainColor) ;padding: 20px;align-items: center;">
             <button @click="renwuYuyue()" style="height:auto;" :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.3)","margin":"0 5px","borderColor":"rgba(0,0,0,.3)","backgroundColor":"rgba(23, 124, 176, 1)","color":"rgba(255, 255, 255, 1)","borderRadius":"6px","borderWidth":"0","width":"auto","lineHeight":"40px","fontSize":"16px","borderStyle":"solid"}' type="button" class="layui-btn btn-submit">
                 立即接取任务
             </button>
        </div>
    </div>

    <!-- 视频 -->


    <!-- 评论 -->
    <div class="layui-row detail-tab" style="border: none;box-shadow: none;">
        <div class="layui-tab layui-tab-card" style="overflow: hidden;border: none; box-shadow: none;">
            <ul class="layui-tab-title " :style='{"backgroundColor":"#fff","fontSize":"14px"}' style="color: var(--publicMainColor);border: none;">
                <li >任务</li>
                <li class="layui-this">任务介绍</li>
                <li></li>
            </ul>

            <div class="layui-tab-content" style="border: 1px dotted var(--publicMainColor);border-radius: 15px;margin-top: 10px;margin-bottom: 50px;">
                <div class="layui-tab-item">
                    <div v-html="myFilters(detail.renwuText)"></div>
                </div>
                <div class="layui-tab-item layui-show">
                    <div v-html="myFilters(detail.renwuContent)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 预约和报名模态框 -->
<el-dialog title="任务报名" :visible.sync="renwuYuyueModal" :modal-append-to-body="false">
    <el-form>

    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="renwuYuyueModal = false">关 闭</el-button>
        <el-button type="primary" @click="submitRenwuYuyue()">提 交</el-button>
    </div>
</el-dialog>    </div>


    <script src="../../layui/layui.js"></script>
    <script src="../../js/vue.js"></script>
    <!-- 引入element组件库 -->
    <script src="../../xznstatic/js/element.min.js"></script>
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="../../xznstatic/css/element.min.css">
    <!-- 组件配置信息 -->
    <script src="../../js/config.js"></script>
    <!-- 扩展插件配置信息 -->
    <script src="../../modules/config.js"></script>
    <!-- 工具方法 -->
    <script src="../../js/utils.js"></script>

    <script>
        Vue.prototype.myFilters= function (msg) {
            if(msg != null){
                return msg.replace(/\n/g, "<br>");
            }else{
                return "";
            }
        };
        var vue = new Vue({
            el: '#app',
            data: {
                userId: localStorage.getItem("userid"),//当前登录人的id
                sessionTable: localStorage.getItem("userTable"),//登录账户所在表名
                role: localStorage.getItem("role"),//权限
                user:{},//当前登录用户信息
                // 轮播图
                swiperList: [],//用于当前表的图片
                // 数据详情
                detail: {
                    id: 0
                },
                // 商品标题
                title: '',
                totalScore: 0,//评分
                baseUrl:"",//路径
                storeupFlag: 0,//收藏 [0为收藏 1已收藏]
                //系统推荐
                renwuRecommendList: [],
                    // 当前详情页表
                detailTable: 'renwu',
                //任务报名
                renwuYuyueModal:false,
                renwuYuyueText:"",
            },
            methods: {
                //分享
                share(){
                    let element = createElement("http://localhost:8080/fupinzhunong/front/index.html?url="+"./pages/renwu/detail.html?id="+this.id);
                    element.select();
                    element.setSelectionRange(0, element.value.length);
                    document.execCommand('copy');
                    element.remove();
                    layui.layer.msg('复制分享页面成功,快去分享吧!', {time: 2000,icon: 6});
                },

                jump(url) {
                    jump(url)
                },
                isAuth(tablename, button) {
                    return isFrontAuth(tablename, button)
                },
                //预约
                renwuYuyue(){
                    let _this = this;
                    var mymessage = confirm("确定要申请接取任务吗？");if(!mymessage){return false;}

                    let data={
                        renwuId:_this.detail.id,
                        yonghuId:localStorage.getItem("userid"),
                    }
                    // 提交数据
                    layui.http.requestJson('renwuYuyue/add', 'post', data, function (res) {
                        if(res.code == 0) {
                            layui.layer.msg('申请成功', {
                                time: 2000,
                                icon: 6
                            }, function () {
                                _this.jump("../renwuYuyue/list.html");
                            });
                        }else{
                            layui.layer.msg(res.msg, {
                                time: 5000,
                                icon: 5
                            });
                        }
                    });
                },
                //提交任务报名
                submitRenwuYuyue(){
                    let _this = this;

                    let data={
                        renwuId:_this.detail.id, // 当前表id
                        yonghuId:localStorage.getItem("userid"),// 任务报名人
                        renwuYuyueYesnoTypes:1,
                        renwuYuyueText:_this.renwuYuyueText,
                    }
                    // 提交数据
                    layui.http.requestJson('renwuYuyue/add', 'post', data, function (res) {
                        if(res.code == 0) {
                            layui.layer.msg('任务报名成功', {
                                time: 2000,
                                icon: 6
                            }, function () {
                                _this.jump("../renwuYuyue/list.html");
                            });
                        }else{
                            layui.layer.msg("已经预约过了,无法重复预约", {
                                time: 5000,
                                icon: 5
                            });
                        }
                    });
                },
                }
        });

        layui.use(['layer', 'form', 'element', 'carousel', 'http', 'jquery', 'laypage', 'util'], function () {
            var layer = layui.layer;
            var util = layui.util;
            var element = layui.element;
            var form = layui.form;
            var carousel = layui.carousel;
            var http = layui.http;
            var jquery = layui.jquery;
            var laypage = layui.laypage;
            vue.baseUrl = http.baseurl

            localStorage.setItem("goUtl","./pages/renwu/detail.html?id="+ http.getParam('id'))

            var limit = 10;

            let table = localStorage.getItem("userTable");
            if(table){
                http.request(table+"/session", 'get', {}, function (data) {
                    vue.user = data.data;
                });
            }

            // 数据ID
            var id = http.getParam('id');
            vue.detail.id = id;
            // 数据信息
            http.request(`${vue.detailTable}/detail/` + id, 'get', {}, function (res) {
                // 详情信息
                vue.detail = res.data;
                vue.title = vue.detail.renwuName;
                vue.detail.renwuContent = vue.detail.renwuContent.replaceAll("src=\"upload/","src=\""+vue.baseUrl+"upload/");
                // 轮播图片
                vue.swiperList = vue.detail.renwuPhoto ? vue.detail.renwuPhoto.split(",") : [];
                // 轮播图
                vue.$nextTick(() => {
                    carousel.render({
                        elem: '#swiper',
                        width: '420px',
                        height: '400px',
                        arrow: 'hover',
                        anim: 'default',
                        autoplay: 'true',
                        interval: '3000',
                        indicator: 'inside'
                    });
                });

            });


            // 系统推荐
            http.request(`renwu/list`, 'get', {
                page: 1,
                limit: 5,
                renwuTypes: vue.detail.renwuTypes,
                renwuDelete: 1,
                zhugtaiTypes: vue.detail.zhugtaiTypes,
            }, function (res) {
                vue.renwuRecommendList = res.data.list;
            });

        });
    </script>
</body>
</html>
